.header {
    position: relative;
}
.greeting {
    max-width: 65%;
    margin-left: 50px;}

.fotoPears {
    width: 200px;
    height: 200px;
    border: 1px solid ;
    position: absolute;
    top: 20px;
    right: 120px;}
h1 {
   font-size: 50px;
    margin-top: 100px;}


.wrapper {
    width: 80%;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 4%;
    font-family: 'Roboto Slab', serif;
    line-height: 2.8em;
    background: #fdf9f2;
    z-index: 1;
    padding-bottom: 30px;
    padding-top: 20px;
    font-size: large;}

table {
    vertical-align: center;
    background-color: #e4eef6;
    border: 2px solid;
    border-spacing: 0; /* убирает промежутки между ячейками*/
    border-collapse: collapse; /* убирает склеивание соседних страниц ячеек*/
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;}
table input {
    background-color: #e4eef6;}

th {
    border: 1px solid grey;

}
td {
    border: 1px solid grey;}

input {
    border: 0 ;
    background: #fdf9f2;
    font-family: 'Roboto Slab', serif;
    font-size: large;}

tr{
    text-align: center;}

/*input:hover {*/
input:before,
input:after {
    position: absolute;
    content: "";
    height: 0%;
    width: 2px;
    box-shadow:
            -7px -7px 20px 0px rgba(255,255,255,.9),
            -4px -4px 5px 0px rgba(255,255,255,.9),
            7px 7px 20px 0px rgba(0,0,0,.2),
            4px 4px 5px 0px rgba(0,0,0,.3);
}






td input {
    width: 90%;
    font-size: small;}

select {
    background: #fdf9f2;
    font-size: 16px;
    font-family: 'Roboto Slab', serif;}

body {
    z-index: 0;
    background: #846853;}

.listPers {
    margin-left: 20px;
    margin-right: 60px;}

.table1 input{
    text-align: center;
    line-height: 1em;}

.table2 th, .table1 th {
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: medium;
    line-height: 1.3em;}

#ty {
    height: auto;
}